body {
  background: linear-gradient(140deg, rgb(76, 200, 200), rgb(32, 32, 51));
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.cbatwicplabal {
  display: flex;
  flex-direction: column;
}

.cwic {
  width: 200px;
  height: 200px;
  -webkit-transform: rotate(30deg);
  -moz-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  -o-transform: rotate(30deg);
  transform: rotate(30deg);
}

.cbat {
  width: 300px;
  height: 300px;
  -webkit-transform: rotate(140deg);
  -moz-transform: rotate(140deg);
  -ms-transform: rotate(140deg);
  -o-transform: rotate(140deg);
  transform: rotate(140deg);
  margin: 100px 0;
}

.cplayer {
  width: 150px;
  height: 150px;
  margin-bottom: 300px;
  margin-top: 100px;
  -webkit-transform: rotate(340deg);
  -moz-transform: rotate(340deg);
  -ms-transform: rotate(340deg);
  -o-transform: rotate(140deg);
  transform: rotate(340deg);
}

.cball {
  width: 150px;
  height: 150px;
}

h1 {
  text-align: center;
  padding: 20px;
}
h2 {
  text-align: center;
  padding: 20px;
}
.inside {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrap {
  height: 500px;
  width: 500px;
  position: relative;
}

.register {
  background: linear-gradient(140deg, rgb(43, 112, 112), rgb(32, 32, 51));
  width: 450px;
  margin-bottom: 50px;
  color: white;
  font-size: 18px;
  padding: 20px;
  border-radius: 10px;
  overflow-y: hidden;
}

#register {
  margin-left: 100px;
}
label {
  color: white;
  font-family: sans-serif;
  font-size: 12px;
  font-style: normal;
}
#name {
  width: 300px;
  border: none;
  border-radius: 3px;
  outline: 0px;
  padding: 7px;
}
#ph {
  width: 65px;
  padding: 7px;
  border: none;
  border-radius: 3px;
  outline: 0;
}
#num {
  width: 230px;
  padding: 7px;
  border: none;
  border-radius: 3px;
  outline: 0;
}
#sub {
  width: 200px;
  padding: 7px;
  font-size: 12px;
  font-family: sans-serif;
  font-style: normal;
  border: none;
  border-radius: 3px;
  outline: 0;
}

.myButton {
  white-space: nowrap;
  font-size: 14px;
  color: rgb(153, 15, 15);
  line-height: 14px;
  cursor: pointer;
  display: flex;
  align-items: center;
  background: rgba(255, 99, 99, 0.6);
  border-radius: 5px;
  outline: 0px;
  border-width: 0px;
  border-style: initial;
  border-color: initial;
  border-image: initial;
  padding: 14px 16px;
  transition: background-color 0.3s ease 0s;
}
