<!DOCTYPE html>
<html>

<head>
    <title>IPL Score Predictor</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='ipl-favicon.ico') }}">

    <script src="https://kit.fontawesome.com/f13b0bc903.js" crossorigin="anonymous"></script>
</head>

<body>
    <div>
        <h1> IPL Score Predictor</h1>

        <!-- Result -->
        <div class="register">
            <center>
                <p style="font-size:25px;">Predicted score:<br> {{ lower_limit }}</p>
                <br><br>
            </center>

        </div>
    </div>
</body>

</html>